<div class="top copy">
    <span class="copy__bold">Justin Kielbasa</span> is a digital and&nbsp;interactive&nbsp;designer
</div>
<div class="links">
    <a href="mailto:justin.kielbasa@gmail.com" class="email">
        <div><img src="/img/email.svg"></div>
    </a>
    <a href="http://twitter.com/justinkielbasa" target="_blank">
        <div><img class="twitter" src="/img/twitter.svg"></div>
    </a>
</div>
<div class="bottom copy">Los Angeles, CA</div>
